body{
font-family:Arial;
background:#0b1d39;
color:white;
text-align:center;
}

.box{
background:#132a52;
padding:30px;
width:300px;
margin:auto;
margin-top:100px;
border-radius:10px;
box-shadow:0 0 20px cyan;
}

input,select{
width:90%;
padding:10px;
margin:8px;
border-radius:5px;
border:none;
}

button{
padding:10px 20px;
background:#00b7ff;
border:none;
color:white;
cursor:pointer;
}

table{
width:90%;
margin:auto;
margin-top:30px;
border-collapse:collapse;
}

td,th{
border:1px solid white;
padding:10px;
}

.loader{
font-size:40px;
margin-top:150px;
color:#00ffff;
animation:glow 1s infinite alternate;
}

@keyframes glow{
from{ text-shadow:0 0 10px cyan;}
to{ text-shadow:0 0 30px white;}
}