body{
font-family:Arial;
background:#0f2027;
color:white;
text-align:center;
}

.logo{
font-size:40px;
margin-top:40px;
color:#00ffd5;
animation:glow 2s infinite alternate;
}

@keyframes glow{
from{ text-shadow:0 0 10px #00ffd5;}
to{ text-shadow:0 0 25px #00ffd5;}
}

.box{
background:#1c2b36;
padding:30px;
width:300px;
margin:auto;
margin-top:30px;
border-radius:10px;
animation:fade 1s;
}

@keyframes fade{
from{opacity:0; transform:translateY(20px);}
to{opacity:1; transform:translateY(0);}
}

input,select{
width:90%;
padding:10px;
margin:8px;
border:none;
border-radius:5px;
}

button{
padding:10px 20px;
background:#00ffd5;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#00c9a7;
}